---
layout: archive
---


{{ content }}




<script>
		var number_of_post={}
</script>
	
	
	
{% for post  in site.categories.Development %}
<script>
var myVar= '{{post.tags|string}}'
if (myVar in number_of_post== false )
	{
	number_of_post[myVar]=1;
	}
else
	{
	number_of_post[myVar] += 1;
	}
</script>
{% endfor %}





	



<ul class="taxonomy__index">
{% for tag in site.tags  %}

{% for post in tag.last %}
  {% assign checker = false %}
  {% if post.categories contains "Development" %}
    {% assign checker=true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if checker == false%}
{% continue %}
{% endif %}

<script>
var myVar= '{{tag[0]|string}}';
</script>

<li>
  <a href="#{{ tag[0] | slugify }}">
	<strong><script> 
	
	document.write(myVar ); 
	</script>  	</strong>
	<span class="taxonomy__count"><script> 
	document.write(number_of_post[myVar] ); 
	</script> </span>
  </a>
</li>

{% endfor %}
</ul>



{% assign entries_layout = page.entries_layout | default: 'list' %}

  {% for tag in site.tags %}

	  
  {% for post in tag.last %}
	{% assign checker = false %}
	{% if post.categories contains "Development" %}
	 {% assign checker=true %}
		{% break %}
	{% endif %}
  {% endfor %}
  
  {% if checker == false%}
  {% continue %}
  {% endif %}
  
      <section id="{{ tag[0] | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ tag[0] }}</h2>
        <div class="entries-{{ entries_layout }}">
          {% for post in tag.last %}
            {% unless   post.categories contains "Development" %}
			{% continue %}
			{% endunless  %}
			{% include archive-single.html type=entries_layout %}
          
		  {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>

  {% endfor %}

